*, *::before, *::after {
  box-sizing: border-box;
}

:root{
  --diceDotColour:rgb(237, 248, 217);
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button {
  height: fit-content;
  width: fit-content%;
  display: block;
  margin-top: 4rem;
  left:50%;
  transform: translate(-50%, -50%);
  font-family: inherit;
  color:white;
  font-size:3rem;
  
  position: relative;
  padding:1rem 3rem;
  border-radius:40%;
  background-color:#4ECCA3;
  border:solid 5px;
}

button:is(:hover, :focus){
  background-color: #040b09;
  cursor: pointer;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.diceCSS {
  display: grid;
  

  gap:20px;
  grid-template-columns: 1fr 1fr 1fr;
  height:210px;
  width:210px;
  background-color: #7D0A0A;
  border-radius: 20px;
  padding:20px 30px;
}


.diceCSS div{
  
  /*margin:12px;*/
  border-radius: 50%;
  
}

.diceCSS .on{
  background-color: var(--diceDotColour);
}
